*.o
zapret-configuration.h.include
*.crt
zapret-checker
zapret-download
rutoken-sign
/zapret-hash-benchmark
/tests/test_core
/tests/test_core-sanitize
/tests/test_soap
/tests/test_soap-sanitize
/tests/test_soap_interaction
/tests/test_soap_interaction-sanitize
/tests/test_soap_scenarios
/tests/test_soap_scenarios-sanitize
/tests/test_register
/tests/test_register-sanitize
/tests/test_configuration
/tests/test_configuration-sanitize
/tests/test_http_transport
/tests/test_http_transport-sanitize
/tests/test_raw_http
/tests/test_raw_http-sanitize
/tests/test_raw_dns
/tests/test_raw_dns-sanitize
/zapret-soap-capture/
.vscode/
/request.xml
/request.xml.sign
/blacklist.xml
/social.xml
/zapret-checker.xml
